.Person
{
    width: 60%;
    margin: auto;
    border: 16px solid #eeeeee;
    box-shadow: 0 20x 3px #cccccc;
    text-align: center;
}
@media (min-width: 500px)
{
    .Person
    {
       width: 450px;
    }

}